body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title-container {
    background-color: #87CEEB;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.title-container h1 {
    color: black;
    font-size: 36px;
    margin: 0;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

.button {
    width: 30px;
    height: 30px;
    background-color: gray;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.button.active-red {
    background-color: red;
}

.button.active-yellow {
    background-color: yellow;
}

.button.active-green {
    background-color: green;
}

.evaluation {
    width: 100%;
    padding: 5px;
}

.evaluation option {
    padding: 5px;
}

.evaluation.green {
    background-color: green;
    color: white;
}

.evaluation.yellow {
    background-color: yellow;
    color: black;
}

.evaluation.red {
    background-color: red;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#reiniciar, #guardar {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    th, td {
        padding: 2px;
    }
    .button {
        height: 20px;
    }
    .evaluation {
        padding: 2px;
    }
}

@media (max-width: 480px) {
    th, td {
        font-size: 12px;
    }
    .button {
        height: 15px;
    }
    .evaluation {
        font-size: 12px;
        padding: 1px;
    }
}
